body {
    background: black url(image/espaco.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 97vh;
}

div#img1 {
    background-image: url('image/astronauta.png');
    position: absolute;
    background-position: center center; 
    background-size: cover;
    width: 400px;  
    height: 400px;
    top: 20%;
    left: 35%;
}
main{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}